* {
    border: none;
    font-family: "JetBrinsMono NF Bold";
    border-radius: 10px;
    font-size: 15px;
}

window#waybar {
    background: rgba(22, 22, 30, 0.85);
}

.modules-left,
.modules-right,
.modules-center {
    background: #1e202e;
    margin: 7px;
}

#custom-launcher,
#cpu,
#memory,
#clock,
#custom-media,
#tray,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-power {
    margin-right: 15px;
    margin-left: 15px;
    color: #7aa2f7;
    padding: 1px;
}

#custom-power {
    margin-right: 5px;
    margin-left: 10px;
}

#custom-launcher {
    margin-right: 5px;
}

#workspaces {
    color: #7aa2f7;
    margin: 0;
}

#workspaces button {
    color: #7aa2f7;
    margin: 0px 5px;
    transition: all 0.3s;
}

#workspaces button.active {
    background: #7aa2f7;
    color: #1a1b26;
}

#battery.critical:not(.charging) {
    color: rgb(221, 39, 39);
}
