@import url("./colors.css");

* {
    border: none;
    font-family: "JetBrinsMono NF";
    border-radius: 10px;
    font-size: 15px;
}

window#waybar {
    background: @back;
}

.modules-left,
.modules-right,
.modules-center {
    background: @back2;
    margin: 7px;
}

#custom-launcher,
#cpu,
#memory,
#clock,
#keyboard-state,
#language,
#custom-media,
#tray,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power {
    margin-right: 15px;
    margin-left: 15px;
    color: @text;
    padding: 1px;
    transition: all 0.1s;
}

#custom-launcher:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#custom-power:hover,
#language,
#bluetooth
#custom-media:hover {
    color: @text-h;
}

#custom-power {
    margin-right: 5px;
    margin-left: 10px;
}

#custom-launcher {
    margin-right: 5px;
}

#workspaces {
    color: @text;
    margin: 0;
}

#workspaces button {
    color: @text;
    margin: 0px 5px;
    transition: all 0.2s;
}

#workspaces button.active {
    background: @text;
    color: @back2;
}

#battery.critical:not(.charging) {
    color: @urgent;
}
